<settings>
	<description>LateRooms System Monitor</description>

	<errorlog serviceuri="http://lradmin.laterooms.com/en/SiteErrorTime.aspx">
		<site name="Hotel Admin" id="4"/>
	</errorlog>
	
<!--
	<liveservers serviceuri="http://monitoring.laterooms.com/wallboards/it/index.php" filter=".blacktext .serverbox">
		<server name="web127" />
		<server name="web128" />
		<server name="web129" />
	</liveservers>
-->
	
	<buildservers>
		<server name="Architecture Hudson" type="Hudson" serviceuri="http://td-ngt-002.ad.laterooms.com:8080" columns="3">
			<filter pattern="^(?!AutoMerge\-).*" />
		</server>
		
		<server name="Hotel Admin Hudson" type="Hudson" serviceuri="http://builds.hoteladmin.ad.laterooms.com:8080" columns="1">
			<pipeline name="HotelAdmin SVN" />
			<pipeline name="Admin.Core Build" />
			<pipeline name="HotelAdmin QA Deploy" />
		</server>
	</buildservers>
</settings>