<settings>
	<description>Hotel Admin System Monitor</description>

	<errorlog serviceuri="http://lradmin.laterooms.com/en/SiteErrorTime.aspx">
		<site name="Hotel Admin" id="4"/>
	</errorlog>

	<liveservers serviceuri="http://monitoring.laterooms.com/wallboards/it/index.php" filter=".blacktext .serverbox">
		<server name="web127" />
		<server name="web128" />
		<server name="web129" />
	</liveservers>

	<buildservers>
		<server name="Hotel Admin Hudson" type="Hudson" serviceuri="http://builds.hoteladmin.ad.laterooms.com:8080/">
			<pipeline name="HotelAdmin SVN" />
			<pipeline name="Admin.Core Build" />
			<pipeline name="HotelAdmin QA Deploy" />
		</server>
	</buildservers>
</settings>